* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
*.example text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.java text eol=lf
*.xml text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.properties text eol=lf
gradlew text eol=lf
gradlew.bat text eol=crlf

*.aar binary
*.jar binary
*.so binary
*.onnx binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.zip binary
*.gz binary
*.bz2 binary
